.formContainer {
  width: 1180px;
  margin: 0.5rem auto 2rem auto;

  border: 1px dashed var(--primary600);
  border-top: none;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  overflow: visible;
  position: relative;
  z-index: 10;

}

.formWrapper {
  width: 100%;
  max-width: 758px;
  margin: auto;

  padding: 0 2rem;

  position: relative;
  top: 10px;
  z-index: 100;
  background: white;

  overflow: visible;
}

.qualitySliderContainer {
  border: none;

  overflow: visible;
}

.qualitySliderHeadingWrapper {
  margin: auto 0 2.5rem 0;

  overflow: visible;
}

.qualitySliderHeading {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.375rem;

  overflow: visible;
  position: relative;
}

.qualitySliderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: visible;
}

.sliderDescription {
  font-family: "Istok Web";
  font-style: normal;
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 1rem;

  position: relative;
  top: -10px;
}

.qualitySlider {
  width: 532px;
  height: 4px;

  overflow: visible;
  background: #e7e0ec;
}

.qualitySliderTrack {
  height: 4px;
  border-radius: 4px;
}

.qualitySliderThumb {
  width: 20px;
  height: 20px;
  background: #6750a4;

  border-radius: 50%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px rgba(0, 0, 0, 0.15);

  top: -8px;
}

.qualitySliderMark {
  width: 2px;
  height: 2px;

  border-radius: 50%;
  background: #49454f;
  opacity: 0.38;

  top: 1px;
}

.qualitySliderThumb:focus {
  outline: none;
}

.compressionSettingsContainer {
  max-width: 694px;
  margin: auto;

  padding: 0.5625rem 0 1.5rem 0.8125rem;

  background: var(--primary200);

  border: 1px solid var(--primary400);
  border-radius: 4px;
}

.compressionSettingsHeading {
  font-family: "Istok Web";
  font-style: normal;
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 1rem;
}

.buttonsContainer {
  overflow: visible;
  display: flex;

  margin-top: 1.1875rem;
}

.buttonWrapper {
  display: flex;
  overflow: visible;
  align-items: center;

  margin-right: 2rem;
}

.compressionSettingsLabel {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.1875rem;
  color: var(--black);

  margin-right: 1rem;
}

.numberInputs {
  width: 82px;
  height: 32px;
  background-color: var(--white);
  padding: 0.25rem 0.5rem 0.25rem 1.5rem;

  border: 1px solid #ebebeb;
  border-radius: 2px;
}

.switchValueIndicators {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.1875rem;
  color: var(--black);

  margin-right: 1rem;
}

.switchValueIndicators:last-of-type {
  margin-left: 1rem;
}

.inputSwitch {
  overflow: visible;
}

.compressionButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;

  background: var(--secondary500);
  border-radius: 5px;

  margin: 1rem auto 4rem auto;
  cursor: pointer;
}