.downloadFilesContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  position: relative;
  overflow: visible;

  margin: 2rem 0;
}

.arrow {
  position: absolute;
  right: 60px;
  top: 210px;
}

.downloadFilesWrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 2rem;
}

.downloadIcon {
  margin-bottom: 0.5rem;
}

.filesReadyText {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.375rem;
  color: var(--grey800);

  margin-bottom: 0.5rem;
}

.fileNamesList {
  position: relative;
  margin: 0;
}

.fileName {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.1875rem;

  color: var(--grey800);
}

.buttonsContainer {
  display: flex;
  margin-top: 0.75rem;

  position: relative;
  left: 0.5rem;
}

.downloadButton {
  width: 127px;
  height: 44px;
  padding: 0;
  cursor: pointer;
  background: var(--secondary500);

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;

  color: var(--grey800);

  display: flex;
  justify-content: center;
}

.previewButton {
  width: 127px;
  height: 44px;
  padding: 0;
  margin: 0 1rem;

  background: transparent;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  color: var(--secondary500);

  border: 1px solid var(--secondary500);
  border-radius: 4px;

  display: flex;
  justify-content: center;
}

.continueButton {
  width: 157px;
  height: 44px;
  padding: 0 2rem;
  margin: 0;

  background: var(--secondary500);

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  color: var(--grey800);

  border: 1px solid var(--secondary500);
  border-radius: 4px;

  display: flex;
  justify-content: center;

  text-align: left;
}

.controlButtonsContainer {
  display: flex;

  margin-top: 0.5rem;
}

.controlButtonDelete {
  color: var(--error);
  background: transparent;

  width: 86px;
  height: 32px;

  padding: 0;

  margin: 0;

  display: flex;
  align-items: center;
}

.controlButtonRestart {
  color: var(--grey800);
  background: transparent;

  width: 86px;
  height: 32px;

  padding: 0;
  cursor: pointer;
  margin: 0;
}

.controlButtonText {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  position: relative;
  top: 1px;
  margin-left: 0.5rem;
}
