.filesContainer {
  display: flex;
  flex-direction: column;

  align-items: center;

  margin: 2rem 0;
  cursor: pointer;
}

.uploadFilesWrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 3rem;
}

.uploadFilesButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  margin: 0.5rem 0 0.25rem 0;
  gap: 1.25rem;

  width: 189px;
  height: 49px;
  background: var(--secondary500);
  cursor: pointer;
}

.uploadFilesTextContainer {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.375rem;
  color: var(--dark800);
}

.uploadFilesDescription {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.1875rem;
  color: var(--black);

  display: flex;
  align-items: center;
  text-align: center;
}

.cloudProvidersContainer {
  display: flex;
  align-items: center;

  margin-top: 0.25rem;
}

.cloudProvider {
  margin-right: 0.25rem;
}