.banner {
  width: 100%;
  max-width: 100%;
  background: var(--primary600);
  margin: auto;
}

.container {
  max-width: 1180px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: auto;
}

.ratingContainer {
  display: flex;
}

.star {
  margin-right: 5px;
}

.votes {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  color: var(--white);
}

.featureContainer {
  display: flex;
}
